@font-face {
    font-family: 'Roboto-Black';
    src: url('static/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('static/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('static/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('static/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('static/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

h1, h2 {
    font-family: 'Roboto-Black', sans-serif;
}

h1 {
    font-size: 2.75rem;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto-Regular', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.logo {
    max-width: 300px;
    max-height: auto;
    margin: 0 0 -50px 0;
}

header {
    background-color: #0275d8;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.header-top {
    font-family: 'Roboto-Thin', sans-serif;
    background-color: black;
    padding: 0.001rem;
    width: 100%;
    color: white;
    text-align: center;
}

section {
    padding: 20px 20px;
}

.hero {
    background-image: url('example.png');
    background-color: #0fffff;
    max-width: 100%;
}

.hero-content, .info-content {
    background-color: white;
    max-width: 750px;
    margin: auto;
}

a {
    color: #ffbf00;
    text-decoration: none;
    transition: all 0.23 ease-in-out;
    display: inline-block;
}

a:hover {
    color: #3498db;
}

button {
    background-color: #0275d8;
    border: none;
    padding: 1rem;
    font-size: 1.75rem;
    font-family: 'Roboto-Black', sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
