@font-face {
    font-family: 'Roboto-Black';
    src: url('static/fonts/roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('static/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('static/fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('static/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('static/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

.info {
    background-color: black;
    color: white;
}

/* mobile nav bar */

.mobile-navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    /* padding: 10px; */
    display: block !important;
}

.mobile-navbar a.logo img {
    width: 100px; /* Adjust as per your logo's size */
}

.dropdown-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.burger {
    width: 30px;
    height: 30px;
    margin: auto;
    filter: invert(100%);
}
.burger:hover {
    filter: invert(80%);
}

.dropdown-content {
    margin-top: 51px;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    flex-direction: column;
    font-family: 'Roboto-Black', sans-serif;
    text-transform: uppercase;
}

.dropdown-content a {
    color: black;
    padding: 50px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* General Styles */
* {
    box-sizing: border-box;
}
.nav-message {
    font-family: 'Roboto-Medium', sans-serif;
    color: white;
    display: block;
    font-size: 1rem;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto-Regular', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
a {
    color: white;
    text-decoration: none;
    transition: all 0.23s ease-in-out;
}
section {
    padding: 20px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 0;
    text-transform: uppercase;
}
a {
    padding: 20px;
}
.navbar div, .navbar a {
    color: white;
    text-decoration: none;
}
.navbar navlinks:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.highlighted {
    height: 100%;
    background-color: #0275d8;
    font-family: 'Roboto-Black', sans-serif;
    padding: 20px;
}
.highlighted:hover {
    color: #ffff00;
}
.logotype {
    font-family: 'Roboto-Black', sans-serif;
    display: none;
}
.logo {
    height: 59px;
    display: none;
    padding: 0 0 0 10px;
}
.navlinks {
    display: none !important;
}
.nav-phone-number {
    display: none;
}

/* Header */
header {
    background-color: #0275d8;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (min-width: 927px) {
    .mobile-navbar {
        display: none !important;
    }
    .navbar {
        justify-content: space-between;
    }
    .navlinks {
        display: block !important;
    }
    .logotype {
        display: block;
    }
    .nav-message {
        width: 100px;
        background-color: white;
        mx-auto;
        display: none;
    }
    .highlighted {
    }
    .nav-phone-number {
        display: block;
    }
   
}

/* Content and Components */
.content-wrap {
    flex: 1;
}

.hero-content,
.body-content {
    margin: auto;
    text-align: center;
}
.about-content {
    max-width: 750px;
    margin: auto;
    text-align: left;
}
.body-content {
    max-width: 750px,
}
.phone-number-large {
    font-family: 'Roboto-Black', sans-serif;
    color: yellow;
    font-size: 2.5rem;
    z-index: 2;
    margin: auto;
}
.phone-number-large:hover {
    color: #00ff33;
}
.contact {
    width: 210px;
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    background-color: black;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Roboto-Bold', sans-serif;
    border: 2px solid white;
}
.contact:hover {
    background-color: #0275d8;
}
.paragraph {
    font-family: 'Roboto-Regular';
    margin: auto;
    font-size: 1.23rem;
    line-height: 1.5;
}
.text-left {
    text-align: left;
    line-height: 2;
}
/* Styling for Specific Sections */
.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('static/graphics/shadedTowArt.jpg');
    background-size: cover;
    background-position: left;
    color: white;
    position: relative;
}
.hero-content homepage {
    height: 800px !important;
}
.hero-content contactpage {
    height: 200px;
}
.hero-content-inner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    line-height: 1;
    padding: 20px;
    /* background-color: red; */
}
.hero-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.hero-content h1,
.hero-content h2,
.hero-content phone-number-large,
.hero-content, .contact
.hero-content ul,
.hero-content p {
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Typography */
h1, h2 {
    text-align: center;
    line-height: 1;
}
h1 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 3rem;
    margin: auto;
}
h2 {
    font-size: 2rem;
    font-family: 'Roboto-Bold';
}
.tagline {
    text-align: center;
    margin: -20px 0 10px 0;
}

/* contact page */

.contact-hero {
    padding: 20px;
    background-color: #0275d8;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    font-family: 'Roboto-Black', sans-serif;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 0px;
    letter-spacing: 1px;
    font-family: 'Roboto-Light', sans-serif;

}

.contact-form button {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Roboto-Bold', sans-serif;
    text-transform: uppercase;
}

.contact-form button:hover {
    background-color: #0275d8;
}
.contact-form input:hover,
.contact-form textarea:hover {
    background-color: rgba(2, 117, 216, 0.2);
    /* background-color: #3388ff; */
    /* color: white; */
}
.contact-form input:focus,
.contact-form textarea:focus {
    background-color: white;
}

.input-row {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.half-size-input {
    margin-right: 10px;
    box-sizing: border-box;
}

.contact-form label {
    text-align: left;
    font-family: 'Roboto-Medium', sans-serif;
    padding: 10px;
}

/* Responsive adjustments */
@media (min-width: 927px) {
    .contact-form {
        margin: auto;
        padding: 20px;
    }
}
