@font-face {
    font-family: 'Roboto-Black';
    src: url('static/fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('static/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('static/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('static/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('static/fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

h1 {
    font-family: 'Roboto-Black', sans-serif;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Roboto-Bold';
}

.tagline {
    text-align: center;
    color: black;
    margin: -20px 0 10px 0;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto-Regular', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.art {
    width: 100%
}

.logo {
    max-width: 300px;
    max-height: auto;
    margin: 0 0 -50px 0;
}

header {
    background-color: #0275d8;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.header-top {
    font-family: 'Roboto-Thin', sans-serif;
    background-color: black;
    padding: 0.001rem;
    width: 100%;
    color: white;
    text-align: center;
}

section {
    padding: 20px 20px;
}

.hero {
    position: relative;
    background-image: url('static/graphics/towTruckArt.webp');
    background-size: cover;
    background-position: center;
    height: 500px;
    max-width: 100%;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0,
    right: 0,
    bottom: 0,
    left: 0,
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content, .info-content {
    position: relative;
    z-index: 2;
    color: black;
    max-width: 750px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.23 ease-in-out;
    display: inline-block;
}

a:hover {
    color: #ffff00;
}

button {
    background-color: #0275d8;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    font-family: 'Roboto-Black', sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

p {
    font-family: 'Roboto-Medium';
    font-size: 1.2rem;
    line-height: 1.5;
}
